body{
	background-image: url("http://cdn.desktopwallpapers4.me/wallpapers/digital-art/1280x800/4/30670-brain-with-headphones-1280x800-digital-art-wallpaper.jpg");
	background-repeat: no-repeat; 
	background-position: center;
	background-color: #5599D1; 	
	background-attachment: fixed;

}

.questions{
 margin: 5px;
 width: 200px;
 height: 200px;
 background-color:transparent;
 border-radius: 25px;
 padding: 20px;
 mar
}

.container{
	margin: 20px;
	margin-right: 30px ;
}

.row{
	margin-left: 50px
	padding:50px;
}

.result{
	height: 140px;
	width: 300px;
	background-color:#9E342D ;
	margin: 10px;
	border-radius: 20px;
}

#button{
	padding: 5px;
	background-color:;
}

p{
	font-family: helvetica;
	color: white;

}

h1{
	text-align: center;
}
.btn btn-primary{
	background-color: grey;
}
